.new2-section{
    padding: 30px 5px 0 5px;
}



.new2-section-header{
 font-size: 2rem;
 font-weight: 700;
 padding: 0px 20px;
}

.new2-section-header-h3{
    padding: 0px 20px;
    font-size: 1.2rem;
}

.new2-container{
    margin-top: 30px;
    border-bottom: 1px solid #40404022;
    
    background-color: #fff;
}

.new2-image{
    width: 100%;
    height: 350px;
}

.new2-image img{
    width: 100%;
    height: 100%;
    aspect-ratio: 3/2;
    object-fit: contain;
    /* mix-blend-mode: color-burn; */
}

.new2-content{
    height: 250px;
}

.new2-header,.new2-footer{
    padding: 20px;
    height: 50%;
}

.new2-content > .new2-header > h1{
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: 600;
}

.new2-content > .new2-header > h3{
    color: #4679ccc1;
}

.new2-footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    color: #0000007d;
}

.swiper-button-prev, .swiper-button-next{
    top: var(--swiper-navigation-top-offset, 40%);
    color: #000 !important;
}