.about-section{
    padding: 0 80px;
    position: relative;
}
.about-container{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-img{
    width: 33.2734375vw;
    height: 83.94579945799458vh;
    position: relative;
    z-index: 222;

}
.about-img > img {
    width: 100%;
    height: 100%;
}
.about-content{
    width: 58.59375vw;
    height: 83.94579945799458vh;
    position: relative;
    margin: 50px 0;
}

.about-content h1{
    font-size: 60px;
    text-transform: uppercase;
    color: #000000b4;
    font-family: 'Didact Gothic', sans-serif;
}



.about-content p{
    margin: 100px 20px 100px 0;
    font-weight: 100;
    z-index: 222;
    font-size: 1.1rem;
    letter-spacing: 1px;
    line-height: 35px;
    font-family: 'Didact Gothic', sans-serif;
}

.about-content .about-link{
    padding: 10px 15px;
    background: transparent;
    border: 1px solid #000;
    text-decoration: none;
    color: #000;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 16px;
    
}
.div-about-link{
    width: 100%;
}
@media only screen and (max-width:530px){
    .about-section{
        padding: 5px !important;
    }
    .about-container{
        flex-wrap: wrap !important;
    }
    .about-content{
        width: 100% !important;
        margin-bottom: 30px !important;
    }
    .about-img{
        width: 100% !important;
    }
    .div-about-link{
        width: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about-content h1{
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: 2px;
    }
    .about-content p{
        margin:30px 5px !important;
    }
}
@media only screen and (max-width:1024px) {
    .about-container{
       flex-wrap: wrap-reverse;
    }
    .about-content{
        width: 80%;
        height: 50%;
        margin: auto;
        margin-top: 20px;
    }
    .about-img{
        width: 60%;
        height: 50%;
        margin: auto;
    }
    .about-content h1{
        text-align: center;
    }
    .about-content h1:nth-child(2){
        font-size: 3rem;

    }
    .about-content p{
        text-align: center;
        margin: 50px 20px;
    }
    .div-about-link{
        width: 100% ;
        display: flex;
        justify-content: center;
        align-items: center;

    }
}