.blog-section-card-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    grid-gap: 5px;
    font-family: 'Spectral', serif;
    margin-top: 50px;
}
.blog-card{
    position: relative;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    height: 500px;
    border-bottom: 1px solid #00000039;
}
.blog-card-img{
    position: relative;
    width: 100%;
    height: 50%;
    transition: all 9s ease;
}
.blog-card > .blog-card-img > img {
    width: 100%;
    height: 100%;
    transition: all 9s ease;
}
.blog-section-header{
    width: 100%;
    padding: 8px 0;
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    font-family: 'Spectral', serif;
    font-size: 1.8rem;
    border-bottom: 1px solid #00000039;
}
/* .blog-card:nth-child(2n){
    margin-top: 50px;
} */
.blog-card-content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: self-start;
    width: 100%;
    height: 50%;
}
.blog-card-content-header ,.blog-card-content-footer{
    width: 100%;
    height: 100%;
}
.blog-card-content-header {
    margin-top: 10px;
}
.blog-card-content-footer{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.blog-card-content-header h1{
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Spectral', serif;
}
.blog-card-content h3{
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Spectral', serif;
    color: #00000094;
}